* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 200vh;
}

.progress {
    height: 1vh;
    width: 1%;
    background-color: blue;
}

.progress__bottom{
position: fixed;
top: 0;
left: 0;
}

.progress__top{
position: fixed;
top: 100vh;
left: 0;
}

.with-progress-bar {
    height: 100vh;
    background-color: green;
}

.second-container {
    height: 100vh;
    background-color:red;
}
