* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
display: flex;
}

.image-container {
    margin: 10px;
    height: 50vh;
    width: 80vh;
    border: 1px solid black;
    background-color: gray;
    background-image: url(./cm997hae_2.png);
    background-size: cover;
}

.zoomElement {
    margin: 10px;
    height: 50vh;
    width: 80vh;
    border: 1px solid black;
    background-color: gray;
}